*{
    margin: 0%;
    padding: 0%;
}
.cabeçalho{
    background-color: #1c016bb4
    ; color: white;  
    justify-content: space-around;
    padding: 24px;
    display: flex;
}

.C-logo{
    width: 7%;
}

.produto-cabeçalho{
    display: grid;
    margin: 24px;
    font-size: 24px;
}